<!DOCTYPE html>
<!--
Landing/Home page
-->
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
        <title>A Dozen Eggs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
    

<div class="whitebg">
  <div class="compact menu">
    <div class="ui container"><a class="item">

      <div class="ui text borderless bottom menu">
        <div class="ui container">
            <h1 class="ui centered aligned icon header">A DOZEN EGGS </h1>
        </div>
      </div>
      </div>
    </a></div>
  </div>
        
<div class ="ui divider"></div>
<div class="ui four item text menu">
    <a href="/" class="item"><div class="blacktxt">HOME</div></a>
    <a href="/add" class="item"><div class="blacktxt">ADD ITEMS</div></a>
    <div class="ui simple dropdown item">
        <a href="/inventory" class="item"><div class="text"><div class="blacktxt">VIEW INVENTORY</div></div></a>
    </div>
     <a href="/calendar" class="item"><div class="blacktxt">VIEW STATISTICS</div></a>
  </div>
<div class ="ui divider"></div>

  
<div class="ui centered container">
    <div class="hoverdissapear" data-tooltip="Click to begin" data-position="bottom center"><a href="/inventory"><img class="ui centered medium image" src="/static/fridge.png"></a></div>
</div>


    </body>
</html>



