<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
        <title>A Dozen Eggs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
    
<!-- Title -->
<div class="whitebg">
  <div class="compact menu">
    <div class="ui container"><a class="item">

      <div class="ui text borderless bottom menu">
        <div class="ui container">
            <h1 class="ui centered aligned icon header">A DOZEN EGGS</h1>
        </div>
      </div>
      </div>
    </a></div>
  </div>
        
<!-- Main Menu -->
<div class ="ui divider"></div>
<div class="ui four item text menu">
  <a href="/" class="item"><div class="blacktxt">HOME</div></a>
  <a href="/add" class="item"><div class="blacktxt">ADD ITEMS</div></a>
  <div class="ui simple dropdown item">
    <a href="/inventory" class="item"><div class="text"><div class="blacktxt">VIEW INVENTORY</div></div></a>
  </div>
  <a href="/calendar" class="item"><div class="blacktxt">VIEW STATISTICS</div></a>
</div>
<div class ="ui divider"></div>


<!-- Categories -->

<div class="ui four column doubling stackable grid container">
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Meats/Proteins" data-position="bottom center"><a href="/meat"><img class="ui fluid large medium image" src="/static/meat.png"></a></div>
  </div>
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Beverages" data-position="bottom center"><a href="/drink"><img class="ui fluid large medium image" src="/static/drink.png"></a></div>
  </div>
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Baked Goods" data-position="bottom center"><a href="/bread"><img class="ui fluid large medium image" src="/static/bread.png"></a></div>
  </div>
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Produce" data-position="bottom center"><a href="/produce"><img class="ui fluid large medium image" src="/static/vegetables.gif"></a></div>
  </div>
</div>

<div class="ui four column doubling stackable grid container">
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Canned Goods" data-position="top center"><a href="/can"><img class="ui fluid large medium image" src="/static/can.png"></a></div>
  </div>
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Dairy" data-position="top center"><a href="/dairy"><img class="ui fluid large medium image" src="/static/dairy.gif"></a></div>
  </div>
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Dry/Baking Goods" data-position="top center"><a href="/dry"><img class="ui fluid large medium image" src="/static/dry.png"></a></div>
  </div>
  <div class="column">
    <div class="hoverdissapear" data-tooltip="Frozen" data-position="top center"><a href="/frozen"><img class="ui fluid large medium image" src="/static/frozen.png"></a></div>
  </div>
    
</div>
&nbsp
&nbsp
&nbsp
&nbsp
<div class="ui one item text menu">
  <button class="ui small button">
    <a href="/all_inv">Show All</a>
  </button>
</div>
&nbsp
&nbsp
&nbsp
&nbsp
&nbsp
<!--
<div class="ui raised very padded text container segment">
    <img class="hoverdissapear" src="meat.png">
</div>
<div class="ui raised very padded text container segment">
    <img class="hoverdissapear" src="drink.png">
</div>
-->

    </body>
</html>

